.light-box {
     width: 250px;
    /* Removed fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(115, 245, 8, 0.66), rgba(13, 185, 168, 0.614));
    border-radius: 35px;
    padding: 30px;
    margin: 40px;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Disabled appearance */
.disabled-box {
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}
.light-box .text{
    color: black;
    letter-spacing: 1px;
    align-self: center;
    display: flex;
    justify-self: center;
    z-index: 2;
}
.light-box h1{
    color: black;
    z-index: 1;
    text-decoration: line-through;
}