body {
  overflow: auto;
}
.scrollable-box {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 1rem;
}
html, body, #root {
  overflow: auto !important;
  position: relative;
}
.App {
  min-height: 100vh;
  overflow: auto;
    background: linear-gradient(#0b004e, #1d152f, #044558);

}

